<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>Muzammil Fareed</title>
    <!-- font icons -->
    <link rel="stylesheet" href="static/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="static/css/muzammil.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <!-- <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600"><i class="ti-shift-left-alt"></i> ADDS</a> -->
    <header class="header">
        <div class="container">
            <ul class="social-icons pt-3">
                <li class="social-item"><a class="social-link text-light" href="https://www.facebook.com/muzammil.fareed.90"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                <!-- <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li> -->
                <li class="social-item"><a class="social-link text-light" href="https://drive.google.com/drive/folders/1-uThD3QtfVZQ0U5HwDPpRRxe8fivTtNU?usp=sharing"><i class="ti-google" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="https://www.linkedin.com/in/muzammil-fareed-07663a218/"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="https://github.com/Muzammilfareed"><i class="ti-github" aria-hidden="true"></i></a></li>
            </ul>  
            <div class="header-content">
                <h4 class="header-subtitle" >Hello, I am</h4>
                <h1 class="header-title">Muzammil Fareed</h1>
                <h6 class="header-mono" >Machine Learning | Devops |Full Stack Developer</h6>
                <!-- <button class="btn btn-primary btn-rounded"><i class="ti-printer pr-2"></i>Print Resume</button> -->
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link">Resume</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="static/imgs/avatar.jpg" alt="" class="brand-img">
                    <li class="brand-txt">
                        <h5 class="brand-title">Muzammil Fareed</h5>
                        <div class="brand-subtitle">Machine Learning | Devops |Full Stack Developer</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#service" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Who am I ?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">Machine Learning | Devops |Full Stack Developer Located In Our Lovely Earth</h5>
                <p class="mt-20">Development of Django/Flask web app.Deployment of Django/Flask web app.Machine Learning, Deep Learning, Backend Python Development, Analytical Solutions and Problem Solving Algorithms according to Client Requirements.</p>
                <a href="static/Muzammil Fareed cv.pdf" download="" onclick="myfun()"> <button class="btn btn-outline-danger"><i class="icon-down-circled2 "></i>Download My CV</button> </a>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Personal Info</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Birthdate</span> : 08/13/1998</li>
                    <li><span>Email</span> : muzammil6171339@gmail.com</li>
                    <li><span>Phone</span> : + (92) 323-6171339</li>
                    <li><span>Skype</span> : muzammil_fareed </li>
                    <li><span>Address</span> :  Lahore near Shalmar hospital.</li>
                </ul>
                <ul class="social-icons pt-3">
                    <li class="social-item"><a class="social-link" href="https://www.facebook.com/muzammil.fareed.90"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="https://drive.google.com/drive/folders/1-uThD3QtfVZQ0U5HwDPpRRxe8fivTtNU?usp=sharing"><i class="ti-google" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link"  href="https://www.linkedin.com/in/muzammil-fareed-07663a218/"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="https://github.com/Muzammilfareed"><i class="ti-github" aria-hidden="true"></i></a></li>
                </ul>  
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">My Expertise</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Machine Learning</h6>
                        <p class="subtitle"> Python Language.</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-paint-bucket icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Web Development</h6>
                        <p class="subtitle">Django and Flask frame work.</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Devops</h6>
                        <p class="subtitle">Aws , Digital Ocean, Azure, etc.</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Resume Section-->
    <section class="section" id="resume">
        <div class="container">
            <h2 class="mb-5"><span class="text-danger">My</span> Resume</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Expertise</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">2021 - Present</h6>
                            <P>Machine Learning</P>
                            <P class="subtitle">Build, train, and deploy machine learning models fast!. Add speech to text capabilities to applications.Translate text using a neural machine translation service.</P>
                            <hr>
                            <h6 class="title text-danger">2020 - 2021</h6>
                            <P>Full Stack Developer</P>
                            <P class="subtitle">Development of Restful APIS with Django.Integration with third parties APIS.Payment Gateways(Stripe, Paypal, webhooke) Integration for your website.Payment Gateways(Stripe, Paypal) Integration for your website.Custom Database Integration!.</P>
                            <hr>
                            <h6 class="title text-danger">2020</h6>
                            <P>Devops</P>
                            <P class="subtitle">Deploying your Django/Flask Projects on Aws, Heroku, Digitial Ocean,Azure or any cloud service.!.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Education</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">2021</h6>
                            <P>Software Engineering</P>
                            <P class="subtitle">The process of developing a software product using software engineering principles and methods is referred to as software evolution. This includes the initial development of software and its maintenance and update.</P>
                            <hr>
                            <h6 class="title text-danger">2015 - 2017</h6>
                            <P> Intermediate in Computer Science</P>
                            <P class="subtitle">The intermediate of Computer Science (ICS) program provides general education in Computer Science and software Development!.</P>
                            <hr>
                            <h6 class="title text-danger">2013 - 2015</h6>
                            <P>High School Degree</P>
                            <P class="subtitle">Matric Full form is Matriculation or matric stand for matriculation.  Matric Education is the beginning step towards higher-level education(intermediate education)!.</P>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Skills</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                           <h6>Python</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Machine Learning </h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Django &amp; Flask</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Devops</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6> HTML5 &amp; CSS3 &amp; Bootstrap5</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>JavaScript &amp; Ajex</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Languages</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                           <h6>English</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Urdu</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Punjabi</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-dark text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">400</h1>
                            <p class="text-light mb-1">Hours Worked</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">20</h1>
                            <p class="text-light mb-1">Project Finished</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-face-smile icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">17</h1>
                            <p class="text-light mb-1">Happy Clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-heart-broken icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">3</h1>
                            <p class="text-light mb-1">Coffee Drinked</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="service">
        <div class="container">
            <h2 class="mb-5 pb-4"><span class="text-danger">My</span> Services</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-paint-bucket icon-lg text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Web Development</h5>
                            <P class="subtitle"> I have more than 2 years of experience in this field of website development. I work in the latest website technologies i.e. JS, Django because of their advantages like scalability in Django and elegant design in Bootstrap. That's why for the frontend, I use Bootstrap . For the backend, I use Django, Django Rest Framework, and RESTful APIs.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-widget text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Machine Learning</h5>
                            <P class="subtitle">OCR reader,Digital signal processing.Audio Processing.Audio Analysis.Image Segmentation.Computer Vision.Scikit-learn
                                TensorFlow
                                Keras,Torch,Computer vision</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-stats-up icon-lg text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Devops</h5>
                            <P class="subtitle">Deploying your Django/Flask Projects on Aws, Heroku, Digitial Ocean,Azure or any cloud service.</P>
                        </div>
                    </div>
                </div>
                
               
                
            </div>
        </div>
    </section> 

    <section class="section bg-custom-gray" id="price">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">Packs</span> Pricing</h1>
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center mb-4">
                        <h3 class="price-card-title">Free</h3>
                        <div class="price-card-cost">
                            <sup class="ti-money"></sup>
                            <span class="num">0</span>
                            <span class="date">MO</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">2 <span class="text-muted">Project</span></li>
                            <li class="list-item">500MB <span class="text-muted">Storage</span></li>
                            <li class="list-item"><span class="text-muted">No Domain</span></li>
                            <li class="list-item">1 <span class="text-muted">User</span></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center mb-4">
                        <h3 class="price-card-title">Basic</h3>
                        <div class="price-card-cost">
                            <sup class="ti-money"></sup>
                            <span class="num">30</span>
                            <span class="date">MO</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">6 <span class="text-muted">Project</span></li>
                            <li class="list-item">400MB <span class="text-muted">Storage</span></li>
                            <li class="list-item">1<span class="text-muted">Domain</span></li>
                            <li class="list-item">5 <span class="text-muted">User</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center price-card-requried mb-4">
                        <h3 class="price-card-title">Exclusive</h3>
                        <div class="price-card-cost">
                            <sup class="ti-money"></sup>
                            <span class="num">60</span>
                            <span class="date">MO</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">7 <span class="text-muted">Project</span></li>
                            <li class="list-item">700MB <span class="text-muted">Storage</span></li>
                            <li class="list-item">5<span class="text-muted"> Domain</span></li>
                            <li class="list-item">3 <span class="text-muted">User</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center mb-4">
                        <h3 class="price-card-title">Pro</h3>
                        <div class="price-card-cost">
                            <sup class="ti-money"></sup>
                            <span class="num">100</span>
                            <span class="date">MO</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">5 <span class="text-muted">Project</span></li>
                            <li class="list-item">1GB <span class="text-muted">Storage</span></li>
                            <li class="list-item">10<span class="text-muted"> Domain</span></li>
                            <li class="list-item">5 <span class="text-muted">User</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-dark py-5">
        <div class="container text-center">
            <h2 class="text-light mb-5 font-weight-normal">I Am Available For FreeLance</h2>
            <button class="btn bg-primary w-lg " ><a href="https://wa.me/+923236171339" class="text-light">Hire me</a></button>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="section bg-custom-gray" id="portfolio">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">My</span> Portfolio</h1>
            <div class="portfolio">
                <div class="filters">
                    <a href="#" data-filter=".new" class="active">
                        New
                    </a>
                    <a href="#" data-filter=".advertising">
                        Machine Learning
                    </a>
                    <a href="#" data-filter=".branding">
                        Computer Vision
                    </a>
                    <a href="#" data-filter=".web">
                        Web/Devops
                    </a>
                </div>
                <div class="portfolio-container"> 
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="static/imgs/17.PNG" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/17.PNG"></a>
                                <div class="text-holder">
                                    <h6 class="title">WEB</h6>
                                    <p class="subtitle">Using django framework create a custome website!</p>
                                </div>
                            </div>   
                        </div>             
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="static/imgs/18.PNG" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/18.PNG"></a>
                                <div class="text-holder">
                                    <h6 class="title">WEB</h6>
                                    <p class="subtitle">Using django framework create a custome website!</p>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="static/imgs/web-27.PNG" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                         
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/web-27.PNG"></a>
                                <div class="text-holder">
                                    <h6 class="title">Web</h6>
                                    <p class="subtitle">Using django framework create a custome website!</p>
                                </div>
                            </div>    
                        </div>              
                    </div> 
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
                            <img src="static/imgs/web-27.PNG" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/web-27.PNG"></a>
                                <div class="text-holder">
                                    <h6 class="title">web</h6>
                                    <p class="subtitle">Using django framework create a custome website!</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>

                    <div class="col-md-6 col-lg-4 advertising"> 
                        <div class="portfolio-item">
                            <img src="static/imgs/23.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                               
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/23.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Web</h6>
                                    <p class="subtitle">simple website!</p>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    



                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="static/imgs/23.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                           <div class="content-holder">
                                <a class="img-popup" href="static/imgs/23.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">web</h6>
                                    <p class="subtitle">Simple website!</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>

                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="static/imgs/24.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                           <div class="content-holder">
                                <a class="img-popup" href="static/imgs/24.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Web</h6>
                                    <p class="subtitle">Simple website!</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="static/imgs/22.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                           <div class="content-holder">
                                <a class="img-popup" href="static/imgs/22.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">web/ Devops</h6>
                                    <p class="subtitle">Custome Web and Deployment on live server!</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="static/imgs/d2.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                           <div class="content-holder">
                                <a class="img-popup" href="static/imgs/d2.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">web/ Devops</h6>
                                    <p class="subtitle">Custome Web and Deployment on live server!</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="static/imgs/d1.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                           <div class="content-holder">
                                <a class="img-popup" href="static/imgs/d1.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">web/ Devops</h6>
                                    <p class="subtitle">Custome Web and Deployment on live server!</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="static/imgs/27_d.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                           <div class="content-holder">
                                <a class="img-popup" href="static/imgs/27_d.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Api/Devops</h6>
                                    <p class="subtitle">Custome Api and Deployment on live server!</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
            



                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="static/imgs/3.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">       
                           <div class="content-holder">
                                <a class="img-popup" href="static/imgs/3.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Machine Learning</h6>
                                    <p class="subtitle">Text Read using OCR!</p>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
                            <img src="static/imgs/4.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/4.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Machine Learning</h6>
                                    <p class="subtitle">Convert image to carton using the three d/f models!</p>
                                </div>
                            </div>
                        </div>
                                
                    </div> 
                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
                            <img src="static/imgs/5.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/5.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Machine Learning</h6>
                                    <p class="subtitle">Live camera video to colerized using the ml models!</p>
                                </div>
                            </div>
                        </div>
                                
                    </div> 

                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
                            <img src="static/imgs/6.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/6.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Machine Learning</h6>
                                    <p class="subtitle">Live camera video to colerized using the ml models!</p>
                                </div>
                            </div>
                        </div>
                                
                    </div> 

                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
                            <img src="static/imgs/7.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/7.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Machine Learning</h6>
                                    <p class="subtitle">Yolo models train Image!</p>
                                </div>
                            </div>
                        </div>
                                
                    </div> 
                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
                            <img src="static/imgs/7.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/7.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Machine Learning</h6>
                                    <p class="subtitle">Yolo models train graph!</p>
                                </div>
                            </div>
                        </div>
                                
                    </div> 
                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
                            <img src="static/imgs/8.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/8.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Machine Learning</h6>
                                    <p class="subtitle">Yolo models train image!</p>
                                </div>
                            </div>
                        </div>
                                
                    </div> 
                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
                            <img src="static/imgs/11.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/11.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Machine Learning</h6>
                                    <p class="subtitle">Image spacific part to detect using the custom models!</p>
                                </div>
                            </div>
                        </div>
                                
                    </div> 





                    <div class="col-md-6 col-lg-4 branding new">
                        <div class="portfolio-item">
                            <img src="static/imgs/5_mask_data.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                        
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/5_mask_data.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Computer Vision</h6>
                                    <p class="subtitle">Teath alignment using the custom models!</p>
                                </div>
                            </div> 
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="static/imgs/7_final_data.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                            <div class="content-holder">
                                <a class="img-popup" href="assstaticets/imgs/7_final_data.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Computer Vision</h6>
                                    <p class="subtitle">Teath alignment using the custom models!</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div> 
                    <div class="col-md-6 col-lg-4 branding new">
                        <div class="portfolio-item">
                            <img src="static/imgs/28.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">   
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/28.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Computer Vision</h6>
                                    <p class="subtitle">Dental segmentation!</p>
                                </div>
                            </div>
                        </div>                                                    
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="static/imgs/29.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                      
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/29.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Computer Vision</h6>
                                    <p class="subtitle">Dental segmentation!</p>
                                </div>
                            </div>
                        </div>                                                      
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="static/imgs/30.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                      
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/30.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Computer Vision</h6>
                                    <p class="subtitle">Dental segmentation!</p>
                                </div>
                            </div>
                        </div>                                                      
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="static/imgs/20.PNG" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                      
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/20.PNG"></a>
                                <div class="text-holder">
                                    <h6 class="title">Computer Vision</h6>
                                    <p class="subtitle">Attendance system using face recognition!</p>
                                </div>
                            </div>
                        </div>                                                      
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="static/imgs/19.PNG" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                      
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/19.PNG"></a>
                                <div class="text-holder">
                                    <h6 class="title">Computer Vision</h6>
                                    <p class="subtitle">Attendance system using face recognition!</p>
                                </div>
                            </div>
                        </div>                                                      
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="static/imgs/15.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                      
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/15.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Computer Vision</h6>
                                    <p class="subtitle">Image set on the other image!</p>
                                </div>
                            </div>
                        </div>                                                      
                    </div> 
                     <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="static/imgs/13.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                      
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/13.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Computer Vision</h6>
                                    <p class="subtitle">Text Read!</p>
                                </div>
                            </div>
                        </div>                                                      
                    </div> 




                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="static/imgs/12.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">          
                            <div class="content-holder">
                                <a class="img-popup" href="static/imgs/12.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Computer Vision</h6>
                                    <p class="subtitle">Home Detection using the custome models!</p>
                                </div>
                            </div>
                        </div>                                                   
                    </div>
                </div> 
            </div>  
        </div>            
    </section>
    <!-- End of portfolio section -->










    

    <div class="section contact" id="contact">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-card">
                        <h4 class="contact-title">Send a message</h4>
                        <form action="">
                            <div class="form-group">
                                <input  class="form-control" type="text" placeholder="Name *" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Email *" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id=" placeholder="Message *" rows="7" required></textarea>
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="form-control btn btn-primary" >Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info-card">
                        <h4 class="contact-title">Get in touch</h4>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-mobile icon-md"></i>
                            </div>
                            <div class="col-10 ">
                                <h6 class="d-inline">Phone : <br> <span class="text-muted">+ (92) 323-6171339</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-map-alt icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Address :<br> <span class="text-muted">Lahore near Shalmar hospital.</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-envelope icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Email :<br> <span class="text-muted">muzammil6171339@gmail.com</span></h6>
                            </div>
                        </div>
                        <ul class="social-icons pt-4">
                            <li class="social-item"><a class="social-link text-dark" href="https://www.facebook.com/muzammil.fareed.90"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                            <!-- <li class="social-item"><a class="social-link text-dark" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li> -->
                            <li class="social-item"><a class="social-link text-dark" href="https://drive.google.com/drive/folders/1-uThD3QtfVZQ0U5HwDPpRRxe8fivTtNU?usp=sharing"><i class="ti-google" aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-dark" href="https://www.linkedin.com/in/muzammil-fareed-07663a218/"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-dark" href="https://github.com/Muzammilfareed"><i class="ti-github" aria-hidden="true"></i></a></li>
                        </ul> 
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> Created With <i class="ti-heart text-danger"></i> By <a href="http://devcrud.com" target="_blank"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">Software Engineer Muzammil Fareed</span></a> 
            </p>
        </div>
    </footer>



 
	<!-- core  -->
    <script src="static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="static/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope  -->
    <script src="static/vendors/isotope/isotope.pkgd.js"></script>
    
    <!-- Google mpas -->

    <!-- JohnDoe js -->
    <script src="static/js/muzammil.js"></script>

</body>
</html>
